@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Kanit&family=Poppins:wght@500&family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

body {
    font-family:Roboto;
    background: black;
    font-weight: bold;
    }
    
    .player{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background:black;
  }
    .wrapper{
      border: 1px solid transparent;
      padding: 30px;
      border-radius: 10px;
      background-color: #3E3E3C ;  
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    }
    
    .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border:2px solid 	#FFFAFA ;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:10px;
    border-radius:10px;
    
    }
    
    .now-playing {
    font-size: 1rem;
    color:white;
    }
    
    .track-name {
    font-size: 2.5rem;
    color:white;
    }
    
    .track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
    color:white;
    }
    
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    color:white;
    }
    .active{
        color: black;
    }
    
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
    color:white;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
    .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    }
    
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #3AFF00;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3AFF00;
    cursor: grab;
    border-radius: 100%;
    color:white;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    }
    
    i,
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward,
    p {
    cursor: pointer;
    }
    .randomActive{
        color: black;
    }
   
    
    
     
    